@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.error-message {
	color: red;
}

.footer {
	margin-top: 1em;
	border-top: solid thin gray;
	width: 100%;
	height: 1.5cm;
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-left;
		align-items: center;

		li {
			flex: 1 0 auto;
			list-style: none;
		}
	}
}
